<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="CyclopsChat" />
    <add key="StylingMode" value="False" /> <!-- shows "update" button-->
    <add key="ChatLogsDirectory" value="Logs"/>
    <add key="AllowGlassFrame" value="False"/>
    <add key="ShowXmppConsole" value="False"/>

    <!-- PROFILES SETTINGS ARE STORED IN THE "Data\Profiles\Profile.config.xml" ! -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>