<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="CyclopsChat" />
    <add key="ChatLogsDirectory" value="Logs"/>
    <add key="AllowGlassFrame" value="False"/>
    <add key="ShowXmppConsole" value="False"/>
    <add key="VerboseLogging" value="False"/>

    <!-- PROFILES SETTINGS ARE STORED IN THE "Data\Profiles\Profile.config.xml" ! -->

  </appSettings>
</configuration>
