name: Main
on:
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  main:
    runs-on: windows-2025
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: NuGet cache
        uses: actions/cache@v5
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.csproj') }}
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 6.0.x

      - name: Build
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test --configuration Release

  verify:
    runs-on: 'ubuntu-24.04'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Verify encoding'
        shell: pwsh
        run: ./scripts/verify-encoding.ps1
